%%-*- mode: erlang -*-
{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{jsx, ".*", {git, "git://github.com/spawnfest/jsx.git", "master"}},
	{erlang_template, ".*", {hg, "https://petr.sturc@code.google.com/p/erlang-template/", "default"}}
]}.

{erl_opts, [debug_info,{i, "../sail_server/include"},
            {i, "../../deps/cowboy/include"}]}.
